// 网站背景色
$hbBackgroundColor: #f2f3f8;

$bodyColor: #FFF;

// 网站tab色
$tabColor:#1b1e2e;

//淡化字色
$lightColor:#61688a;

//网站内容色
$innerColor:#1b1e2a;

//网站文字色
$hbColor:#232a4a;

//footer
$hbFooterColor:#0a151e;

//hover色
$hbHoverColor:#357ce1;



//按钮 涨跌幅红色
$hbRed:#f55858;

//navbar
$navbarColor:#243445;
$navbarFontColor: #adc1d5!important;

$hbBlue: #f55858;
$hbGreen:#03c087;


.hb-tab{
    z-index: 4;
    box-shadow: 0 2px 6px rgba(0,0,0,.1);
    padding: 0 30px;    
    background-color: #fff;
    height: 48px;
    color: $hbColor;
    font-size: 16px;
    line-height: 48px;
    position: relative;
    z-index: 100;
}
a {
    color: $hbHoverColor;
}

.buy {
    color: $hbGreen
}
.sell {
    color: $hbRed
}